In [1]:
import pandas as pd

In [2]:
pd.options.display.max_rows = 10

In [3]:
h5_dir = 'C:\\Users\\user\\Documents\\Agent-Based Models\\h5 files\\mmabmTests\\'
h5_file = 'python_mmabm_%d.h5' % 51

In [4]:
mm_table = 'signal_%d' % 3000

In [5]:
h5in = '%s%s' % (h5_dir, h5_file)

In [6]:
mmdf = pd.read_hdf(h5in, mm_table)
mmdf

,ArrStrat,ArrStratAccuracy,ArrStratAction,OIStrat,OIStratAccuracy,OIStratAction,SprStrat,SprStratAccuracy,SprStratAction,Step,arr,arrv,mid,oib,oibv,vol
0,2220222222222222,970.000000,30,NaN,NaN,NaN,NaN,NaN,NaN,20,1000000010000000,0,999233.5,000001100000000001100000,0,0.000000
1,2222020222222202,998.000000,2,220202222220222222202222,970.000000,30.0,22012,0.000000,0.0,21,1000000010000000,0,999233.5,000001100000000001100000,0,0.000000
2,2022222222222002,991.000000,9,220202222220222222202222,970.000000,30.0,21202,0.000000,5.0,22,1000000010000000,0,999233.5,000001100000000001100000,0,0.000000
3,2022222222202022,983.000000,17,220202222220222222202222,970.000000,30.0,22201,0.000000,2.0,23,1000000010000000,0,999233.5,000001100000000001100000,0,0.000000
4,1202222222022222,993.000000,7,220202222220222222202222,970.000000,30.0,02122,0.000000,2.0,24,1000000010000000,0,999233.5,000001100000000001100000,0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99976,2222222212222202,998.282158,2,222222222222222222222222,987.007273,-13.0,02212,3.147948,6.0,99996,1110000011000000,1,878975.0,000001100000000011000000,-1,0.000182
99977,2222222212222202,998.285124,2,222222222222222222222222,987.007252,-13.0,02212,3.147947,6.0,99997,1110000011000000,1,878971.5,000000100000000000110000,1,0.000195
99978,2222222212222202,998.283951,2,222222222222222222222222,987.007252,-13.0,02212,3.147947,6.0,99998,1110000010000000,0,878971.5,000000100000000001100000,0,0.000195
99979,2222222212222202,998.282787,2,222222222222222222222222,987.007252,-13.0,02212,3.147947,6.0,99999,1110000010000000,0,878971.5,000000100000000001100000,0,0.000195
99980,2222222212222202,998.281633,2,222222222222222222222222,987.007251,-13.0,02212,3.147947,6.0,100000,1110000010000000,0,878971.5,000001100000000001100000,0,0.000182

In [7]:
mmdf.columns

Index(['ArrStrat', 'ArrStratAccuracy', 'ArrStratAction', 'OIStrat',
       'OIStratAccuracy', 'OIStratAction', 'SprStrat', 'SprStratAccuracy',
       'SprStratAction', 'Step', 'arr', 'arrv', 'mid', 'oib', 'oibv', 'vol'],
      dtype='object')

In [35]:
arrdf = mmdf.loc[:, ['ArrStrat', 'ArrStratAccuracy', 'ArrStratAction', 'arr', 'arrv']]
arrdf

,ArrStrat,ArrStratAccuracy,ArrStratAction,arr,arrv
0,2220222222222222,970.000000,30,1000000010000000,0
1,2222020222222202,998.000000,2,1000000010000000,0
2,2022222222222002,991.000000,9,1000000010000000,0
3,2022222222202022,983.000000,17,1000000010000000,0
4,1202222222022222,993.000000,7,1000000010000000,0
...,...,...,...,...,...
99976,2222222212222202,998.282158,2,1110000011000000,1
99977,2222222212222202,998.285124,2,1110000011000000,1
99978,2222222212222202,998.283951,2,1110000010000000,0
99979,2222222212222202,998.282787,2,1110000010000000,0
99980,2222222212222202,998.281633,2,1110000010000000,0

In [36]:
arr_len = len(arrdf.loc[100, 'arr'])
arrdf['ArrStrength'] = sum([arrdf.ArrStrat.str[x] == arrdf.arr.str[x] for x in range(arr_len)])
arrdf

,ArrStrat,ArrStratAccuracy,ArrStratAction,arr,arrv,ArrStrength
0,2220222222222222,970.000000,30,1000000010000000,0,1
1,2222020222222202,998.000000,2,1000000010000000,0,3
2,2022222222222002,991.000000,9,1000000010000000,0,3
3,2022222222202022,983.000000,17,1000000010000000,0,3
4,1202222222022222,993.000000,7,1000000010000000,0,3
...,...,...,...,...,...,...
99976,2222222212222202,998.282158,2,1110000011000000,1,2
99977,2222222212222202,998.285124,2,1110000011000000,1,2
99978,2222222212222202,998.283951,2,1110000010000000,0,2
99979,2222222212222202,998.282787,2,1110000010000000,0,2
99980,2222222212222202,998.281633,2,1110000010000000,0,2

In [40]:
arrdf.groupby('ArrStrat').ArrStratAccuracy.mean().describe()

count    217.000000
mean     986.360787
std        7.378751
min      970.000000
25%      982.071658
50%      986.298116
75%      991.486431
max      999.401932
Name: ArrStratAccuracy, dtype: float64

In [41]:
oibdf = mmdf.loc[:, ['OIStrat', 'OIStratAccuracy', 'OIStratAction', 'oib', 'oibv']]
oibdf

,OIStrat,OIStratAccuracy,OIStratAction,oib,oibv
0,NaN,NaN,NaN,000001100000000001100000,0
1,220202222220222222202222,970.000000,30.0,000001100000000001100000,0
2,220202222220222222202222,970.000000,30.0,000001100000000001100000,0
3,220202222220222222202222,970.000000,30.0,000001100000000001100000,0
4,220202222220222222202222,970.000000,30.0,000001100000000001100000,0
...,...,...,...,...,...
99976,222222222222222222222222,987.007273,-13.0,000001100000000011000000,-1
99977,222222222222222222222222,987.007252,-13.0,000000100000000000110000,1
99978,222222222222222222222222,987.007252,-13.0,000000100000000001100000,0
99979,222222222222222222222222,987.007252,-13.0,000000100000000001100000,0
99980,222222222222222222222222,987.007251,-13.0,000001100000000001100000,0

In [43]:
oib_len = len(oibdf.loc[100, 'oib'])
oibdf['OIBStrength'] = sum([oibdf.OIStrat.str[x] == oibdf.oib.str[x] for x in range(oib_len)])
oibdf

,OIStrat,OIStratAccuracy,OIStratAction,oib,oibv,OIBStrength
0,NaN,NaN,NaN,000001100000000001100000,0,0
1,220202222220222222202222,970.000000,30.0,000001100000000001100000,0,4
2,220202222220222222202222,970.000000,30.0,000001100000000001100000,0,4
3,220202222220222222202222,970.000000,30.0,000001100000000001100000,0,4
4,220202222220222222202222,970.000000,30.0,000001100000000001100000,0,4
...,...,...,...,...,...,...
99976,222222222222222222222222,987.007273,-13.0,000001100000000011000000,-1,0
99977,222222222222222222222222,987.007252,-13.0,000000100000000000110000,1,0
99978,222222222222222222222222,987.007252,-13.0,000000100000000001100000,0,0
99979,222222222222222222222222,987.007252,-13.0,000000100000000001100000,0,0
99980,222222222222222222222222,987.007251,-13.0,000001100000000001100000,0,0

In [44]:
oibdf.groupby('OIStrat').OIStratAccuracy.mean().describe()

count     216.000000
mean      987.745613
std         6.945074
min       968.926112
25%       983.909775
50%       987.948651
75%       992.939499
max      1000.000000
Name: OIStratAccuracy, dtype: float64